# files or folders which will not be commited and pushed to the git repo
# ignore Bin or bin folder in any subfolder
[Bb]in/
# ignore Obj or oin folder in any subfolder
[Oo]bj/


# Visual Studio system folder
.vs